<div [ngClass]="{'t-teacher-sidnav': fromModule=='teacher'}">
    <div class="d-inline-flex btn-sm">
        <a class=" d-inline-flex btn-sm   mx-1 mt-3" (click)="onCloseSidenav()">
            <span class=" pe-1">
                <i class="fa fa-close  mr-2 ml-2 t-menu-icon">
                </i> </span>
           
        </a>
        <a class=" mt-3 border mobileMode" (click)="toggleLanguage()">
            <span class=" pe-1">
                <i class="fa fa-language t-lang-icon"></i>
            </span>
            <span >
                {{"LANG"|translate}} </span>
    
        </a>
        <a class="mt-3  border mobileMode" (click)="switchTheme()">
            <span class=" pe-1">
                <i class="fa fa-moon-o t-mode-icon">
                </i> </span>
            <span>
                {{"MODE"|translate}} </span>
    
        </a>
    </div>
    
    <div *ngFor="let link of sidNavLinks">
        <a class="sidenav-nav-link applyDarkMode" [routerLink]="[link.RoutePath]" routerLinkActive="active"
            aria-label="Read more about me" [routerLinkActiveOptions]="{exact:true}" (click)="onLinkClick(link)">
            <i class="sidenav-link-icon" [class]="link.ClassName">
            </i>
            <span class="sidenav-link-text">
                {{translate.currentLang=='ar'?link.NameAr:link.NameEn}}
            </span>
        </a>
    </div>
</div>