<!-- ======= Features Section ======= -->
<section class="p-3 text-center">
    <div class="block-head  fluid-container">

        <strong class="section-title">Knowledge</strong>

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> DevOps</strong>
                    <p>
                        <a target="_blank" href="https://www.atlassian.com/devops"
                            aria-label="Read more about devops">Resources</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> CI/CD</strong>
                    <p>
                        <a target="_blank" href="https://www.atlassian.com/continuous-delivery"
                            aria-label="Read more about delivery">Resources</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> Agile/Scrum</strong>
                    <p>
                        <a target="_blank" href="https://www.atlassian.com/agile/scrum"
                            aria-label="Read more about Scrum">Resources</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> Docker</strong>
                    <p>
                        <a target="_blank" href="https://aws.amazon.com/docker/"
                            aria-label="Read more about Docker">Resources</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> kubernetes-vs-docker</strong>
                    <p>
                        <a target="_blank" href=" https://www.dynatrace.com/news/blog/kubernetes-vs-docker/"
                            aria-label="Read more about kubernetes">Resources</a>
                    </p>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> git-and-github</strong>
                    <p>
                        <a target="_blank" href="  https://www.freecodecamp.org/news/introduction-to-git-and-github/"
                            aria-label="Read more about git-and-github">Resources</a>
                    </p>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong> Cloud / AWS</strong>
                    <p>
                        <a target="_blank" href="https://en.wikipedia.org/wiki/Amazon_Web_Services"
                            aria-label="Read more about git-and-github">Resources</a>
                    </p>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block  ">
                    <strong>Data Structure / Algorithms</strong>
                    <p>
                        <a target="_blank"
                            href="https://techdevguide.withgoogle.com/paths/data-structures-and-algorithms/"
                            aria-label="Read more about git-and-github">Resources</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->