<!-- spinner.component.html -->
<div class="spinner-overlay" *ngIf="showSpinner">
    <div class="spinner-container">
      <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>
  </div>


<!-- <div class="page-overlay-wrapper d-flex justify-content-center" *ngIf="showSpinner">
    <div class="bee-spinner">

        <div class="spinner">
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

</div> -->