<!-- ======= Get About Us Section ======= -->
<section id="get-started" class="padd-section text-center" data-aos="zoom-in" data-aos-delay="100">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>{{translate.currentLang=='ar'?appSectionsDataResult[0]?.TitleNameAr:
                appSectionsDataResult[0]?.TitleNameEn}} </h2>
            <p class="separator">
                {{translate.currentLang=='ar'?appSectionsDataResult[0]?.DescAr:
                appSectionsDataResult[0]?.DescEn}}
            </p>


        </div>
    </div>

    <div class="container" *ngIf="appSectionsDataResult.length>0">
        <div class="row">
            <div class="col-md-6 col-lg-3" *ngFor="let object of appSectionsDataResult?.slice(1);" data-aos="zoom-in"
                data-aos-delay="100">
                <div class="feature-block">
                    <img *ngIf="object.ImgSrc" [src]="object.ImgSrc" alt="img">
                    <h4>{{ translate.currentLang == 'ar' ? object.DescAr : object.DescEn }}</h4>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Get About Us Section -->