<!-- ======= Features Section ======= -->
<div class="container mt-5" data-aos="zoom-in" data-aos-delay="100">

  <header class="pricing-header mt-5 text-center">
    <h1>

      {{translate.currentLang=='ar'?this.websiteSectionsDataResult[0]?.TitleNameAr:this.websiteSectionsDataResult[0]?.TitleNameEn}}
    </h1>
  
</header>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-3 mb-4 d-flex align-items-stretch"
      *ngFor="let feature of websiteSectionsDataResult.slice(1); let i = index">
      <div class="card feature-card text-center flex-fill">
        <div class="card-body d-flex flex-column">
          <i class="{{ feature.ImgSrc }} fa-3x mb-3"></i>
          <h5 class="card-title"> {{translate.currentLang=='ar'?feature.TitleNameAr: feature.TitleNameEn }}</h5>
          <p class="card-text">{{translate.currentLang=='ar'?feature.DescAr: feature.DescEn }}</p>
        </div>
      </div>
    </div>
  </div>
</div>