<section class="mt-5" data-aos="zoom-in" data-aos-delay="100">
    <div class="section-title text-center mt-5">

        <h2>{{ translate.currentLang=='ar'?this.websiteSectionsDataResult[0]?.TitleNameAr:
            this.websiteSectionsDataResult[0]?.TitleNameEn }}</h2>

        <a class="btn btn-sm btn-success m-2 website-ask">{{"ASK"|translate}}
            <p class="separator">

                {{translate.currentLang=='ar'?'تستطيع أن تسأل عن ما تشاء':'You Can Ask Us For Any Thing'}}
            </p>
        </a>
    </div>
    <div id="faqCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let faq of websiteSectionsDataResult; let i = index"
                [ngClass]="{'active': i === 0}">
                <div class="d-flex flex-column align-items-center">
                    <h3>{{ faq.Question }}</h3>
                    <p>{{ faq.Answer }}</p>
                    <h4>Azmy Ahmed<span>manager</span></h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#faqCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn-success" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#faqCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon btn-success" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>