<div class="d-flex justify-content-center align-items-center" data-aos="zoom-out" data-aos-delay="100">
  <div class="col-md-6 card mt-2 vh-100">
    <div class="card-body">
      <div class="text-center">
        <h2 class="mb-4">SignUp
          <i class="fa fa-user-plus"></i>
        </h2>
      </div>
      <div class="col-11 m-3">
        <strong class="m-2">
          SignUp As
        </strong>
        <div>
          <app-select-option class="col-8" [options]="options" (selectedOptionChange)="onSelectedOptionChange($event)"></app-select-option>

          <select class="form-select" aria-label="Default select example">
            <option *ngFor="let option of options" [value]="option.Serial">
              <strong> {{ option.NameEn }}</strong>
            </option>
          </select>
        </div>
      </div>
      <app-forms formName="signUp" title="Sign Up" [gridClass]="'col-sm-6 mb-3'" iconClass="fa fa-user-plus"
        (formSubmit)="handleFormSubmit($event)"></app-forms>
      <div>
        <input type="checkbox" class="form-check-input m-3" [(ngModel)]="isReadTerms" (click)="acceptTerms()">
        <a class="btn btn-primary" (click)="openModalTemplate('termsAndCondition','TERMSANDCONDITION')">
          <strong style="color: white;">
            I Have Read Terms
            and
            Condition
          </strong>
        </a>
      </div>
      <div class="m-1 text-center">
        <button (click)="confirmTeacherSignUp()" [disabled]="isReadTerms==false || this.dynamicForm.form.invalid"
          class="btn btn-success ml-5 mr-5">
          SignUp
        </button>
      </div>
    </div>
  </div>
</div>
