<!-- ======= Get About Us Section ======= -->
<section id="get-started" class="padd-section text-center"  data-aos="zoom-in" data-aos-delay="100">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>I'M Teacher (TMIS) </h2>
            <p class="separator">I'M Teacher is a simple user-friendly solution to
                supporting a harmonized and timely access to teacher information at all administrative levels of the
                Ministry
                of Education and Sports and associated agencies; at national, district and education institution levels.
                Its
                main objective is to solve the problem of dis-jointed teacher records accross the various sections of
                government and the education ministry. By enabling teachers to take control of their records and
                increasing
                transparency in the ministry's provision of services, it is speeding up service delivery, improving the
                ministry's efficiency and the relationship of the teaching professionals with government.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">

                    <h4>introducing whatsapp Messages</h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">

                    <h4>introducing Gmail Messages</h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">

                    <h4>user friendly interface</h4>
                    <p>Easy To Use</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">

                    <h4>build the app every teacher love</h4>
                </div>
            </div>

        </div>
    </div>

</section><!-- End Get About Us Section -->