<!-- ======= Hero Section ======= -->
<app-website-first-content></app-website-first-content>
<main id="main">
  <!-- ======= Get about Section ======= -->
  <app-website-aboutus></app-website-aboutus>
  <!-- End Get about Section -->
  <!-- ======= Features Section ======= -->
  <app-website-features></app-website-features>
  <!-- End Features Section -->
  <!-- ======= Clients Section ======= -->
  <app-website-clients></app-website-clients>
  <!-- End Clients Section -->
  <!-- ======= Team Section ======= -->
  <app-website-team></app-website-team>
  <!-- End Team Section -->
  <!-- ======= FaQS Section ======= -->
  <app-website-faqs></app-website-faqs>
  <!-- End Testimonials Section -->
  <!-- ======= Contact Section ======= -->
  <app-website-contactus></app-website-contactus>
  <!-- ======= Last Section ======= -->
  <app-website-last-content></app-website-last-content>
</main><!-- End #main -->