<section>
    <div class="t-last-section" data-aos="zoom-in" data-aos-delay="100">
        <div>
            <div class="row ">
                <div class="col-md-4 m-5">
                    <h1>
                        {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.DescAr:
                        websiteSectionsDataResult[0]?.DescEn}}
                    </h1>
                    <h2>
                        {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.DetailAr:
                        websiteSectionsDataResult[0]?.DetailEn}}
                    </h2>
                </div>
                <div class="col-md-8 m-5 preview-container">
                    <!-- <iframe class="" src="//player.vimeo.com/video/268913506" height="340px" title="0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> -->
                </div>
            </div>

        </div>
    </div>
</section>