<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section" data-aos="zoom-in" data-aos-delay="100">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2> {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.TitleNameAr:
                websiteSectionsDataResult[0]?.TitleNameEn}}</h2>
            <p class="separator">
                {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.DescAr:
                websiteSectionsDataResult[0]?.DescEn}}
            </p>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-4">

                <div class="info">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                        <p class="">{{"LOCATION"|translate}} :


                            {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.LoactionAr:
                            websiteSectionsDataResult[0]?.LoactionEn}}
                        </p>
                    </div>

                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <p class="">
                            {{"EMAIL"|translate}} :
                            {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.Email:
                            websiteSectionsDataResult[0]?.Email}}

                        </p>
                    </div>
                    <div>
                        <i class="fa fa-whatsapp"></i>
                        <p class="">
                            {{"WHATSAPP"|translate}}
                            : {{websiteSectionsDataResult[0].WhatApp}}

                        </p>
                    </div>
                    <div>
                        <i class="fa fa-comment-o"></i>
                        <p class="">
                            {{"MESSENGER"|translate}}
                            : {{websiteSectionsDataResult[0].Messenger}}

                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-8">
                <div class="form">
                    <form (ngSubmit)="sendEmail($event)" class="php-email-form" #emailForm="ngForm">
                        <div class="form-group">
                            <input type="text" name="user_name" class="form-control" id="name" placeholder="Your Name"
                                required ngModel #userName="ngModel">
                            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                                class="alert alert-danger">
                                <div *ngIf="userName.errors?.['required']">
                                    Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="user_email" id="email"
                                placeholder="Your Email" required ngModel #userEmail="ngModel">
                            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)"
                                class="alert alert-danger">
                                <div *ngIf="userEmail.errors?.['required']">
                                    Email is required.
                                </div>
                                <div *ngIf="userEmail.errors?.['email']">
                                    Invalid email format.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required ngModel #subject="ngModel">
                            <div *ngIf="subject.invalid && (subject.dirty || subject.touched)"
                                class="alert alert-danger">
                                <div *ngIf="subject.errors?.['required']">
                                    Subject is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required
                                ngModel #message="ngModel"></textarea>
                            <div *ngIf="message.invalid && (message.dirty || message.touched)"
                                class="alert alert-danger">
                                <div *ngIf="message.errors?.['required']">
                                    Message is required.
                                </div>
                            </div>
                        </div>

                        <div class="text-center m-4"><button type="submit" id="sendMessage" aria-label="sendMessage"
                                class="btn  contact-submit-button">Send
                                Message</button></div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>