<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section" data-aos="zoom-in" data-aos-delay="100" *ngIf="contactUsSerial==0">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2> {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.TitleNameAr:
                websiteSectionsDataResult[0]?.TitleNameEn}}</h2>
            <p class="separator">
                {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.DescAr:
                websiteSectionsDataResult[0]?.DescEn}}
            </p>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-4">

                <div class="info">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                        <p class="">{{"LOCATION"|translate}} :


                            {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.LoactionAr:
                            websiteSectionsDataResult[0]?.LoactionEn}}
                        </p>
                    </div>

                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <p class="">
                            {{"EMAIL"|translate}} :
                            {{translate.currentLang=='ar'?websiteSectionsDataResult[0]?.Email:
                            websiteSectionsDataResult[0]?.Email}}

                        </p>
                    </div>
                    <div>
                        <i class="fa fa-whatsapp"></i>
                        <p class="">
                            {{"WHATSAPP"|translate}}
                            : {{websiteSectionsDataResult[0]?.WhatApp}}

                        </p>
                    </div>
                    <div>
                        <i class="fa fa-comment-o"></i>
                        <p class="">
                            {{"MESSENGER"|translate}}
                            : {{websiteSectionsDataResult[0]?.Messenger}}

                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-8">
                <div class="form">
                    <!-- your-component.component.html -->
                    <form [formGroup]="emailForm" (ngSubmit)="sendWebsite_ContactUs()" class="php-email-form">
                        <div class="form-group">
                            <input type="text" formControlName="FullName" class="form-control" id="fullName"
                            placeholder="{{ 'FULLNAME' | translate }}"
                                required>
                            <div *ngIf="emailForm.get('FullName')?.invalid && (emailForm.get('FullName')?.dirty || emailForm.get('FullName')?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="emailForm.get('FullName')?.errors?.['required']">
                                    
                                    {{"FULLNAMEREQUIRED"|translate}}

                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" formControlName="Email" class="form-control" id="email"
                            placeholder="{{ 'EMAIL' | translate }}" required>
                            <div *ngIf="emailForm.get('Email')?.invalid && (emailForm.get('Email')?.dirty || emailForm.get('Email')?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="emailForm.get('Email')?.errors?.['required']">
                                    
                                    {{"EMAILREQUIRED"|translate}}

                                </div>
                                <div *ngIf="emailForm.get('Email')?.errors?.['email']">
                                    
                                    {{"INVALIDEMAIL"|translate}}

                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" formControlName="Address" class="form-control" id="address"
                            placeholder="{{ 'ADDRESS' | translate }}" required>
                            <div *ngIf="emailForm.get('Address')?.invalid && (emailForm.get('Address')?.dirty || emailForm.get('Address')?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="emailForm.get('Address')?.errors?.['required']">
                                    
                                    {{"ADDRESSREQUIRED"|translate}}

                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" formControlName="PhoneNumber" class="form-control" id="phoneNumber"
                            placeholder="{{ 'PHONENUMBER' | translate }}" required>
                            <div *ngIf="emailForm.get('PhoneNumber')?.invalid && (emailForm.get('PhoneNumber')?.dirty || emailForm.get('PhoneNumber')?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="emailForm.get('PhoneNumber')?.errors?.['required']">
                                    {{"PHONENUMBERREQUIRED"|translate}}

                                </div>
                                <div *ngIf="emailForm.get('PhoneNumber')?.errors?.['pattern']">
                                    

                                    {{"INVALIDPHONENUMBER"|translate}}

                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea formControlName="Message" class="form-control" rows="5" id="message"
                            placeholder="{{ 'MESSAGE' | translate }}" required></textarea>
                            <div *ngIf="emailForm.get('Message')?.invalid && (emailForm.get('Message')?.dirty || emailForm.get('Message')?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="emailForm.get('Message')?.errors?.['required']">
                                    {{"MESSAGEISREQUIRED"|translate}}

                                </div>
                            </div>
                        </div>

                        <div class="text-center m-4">
                            <button type="submit" id="sendMessage" aria-label="sendMessage"
                                class="btn contact-submit-button" [disabled]="emailForm.invalid">
                                {{"SENDMESSAGE"|translate}}
                            </button>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</section>
<!-- <section *ngIf="contactUsSerial>0">
    <app-website-contactus-confirmation></app-website-contactus-confirmation>

</section> -->