<section id="features" class="p-3 text-center">
    <div class="block-head fluid-container applyDarkMode">
      <strong class="section-title  applyDarkMode">Projects</strong>
  
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="feature-block">
            <strong>
              <a aria-label="Read more about me"
                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode"
                href="http://madinahclinic.com" target="_blank">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Link
                </span>
              </a>
              WebSite
            </strong>
            <p>
              for Madinah Medical Center | MMC In Saudi Arabia
              Home, About US, Contact Us, Blogs, Offers, Cosmetics, Departments and Doctors Taps
            </p>
  
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block project-block">
            <strong>
              <a aria-label="Read more about me"
                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode"
                href="http://185.137.246.85:9999 " target="_blank">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Link
                </span>
              </a>
              Patient Portal
            </strong>
            <p>
              for Patient His Appointments, Rx, Rays And Services Also Can Print His Rx and Examinations
            </p>
  
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block project-block">
            <strong>
              <a aria-label="Read more about me"
                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode"
                href="https://github.com/azmyahmed/azmy-store-udacity" target="_blank">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Link
                </span>
              </a>
            </strong>
            <strong>Udacity Project</strong>
            <p>
              Product List, Product Detail, Add to Cart, Sum Prices and Customer Form for Payment (GitHub) </p>
  
          </div>
        </div>
  
  
  
  
  
        <div class="col-md-6 col-lg-4">
          <div class="feature-block project-block">
            <strong>
              <a aria-label="Read more about me"
                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode"
                href="https://github.com/azmyahmed/derma-clinic" target="_blank">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Link
                </span>
              </a>
              Derma Clinic
            </strong>
            <p>
              Mange Clinic Patient Appointment and Doctor Appointment In progress (GitHub)
            </p>
  
          </div>
        </div>
  
  
  
  
        <div class="col-md-6 col-lg-4">
          <div class="feature-block project-block">
            <strong>
              <a class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode "
                aria-label="Read more about me"
                href="https://drive.google.com/file/d/1gckJ4vo4VNABpN_mP7Lr_yTKSrgli-4u/view?usp=sharing" target="_blank">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Link
                </span>
              </a>
              Dental Chart
            </strong>
            <p>
              For Dental Clinics Apply Diagnosis On Tooth Download Video From
            </p>
            <h2>
              <a class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode "
                aria-label="Read more about me" [routerLink]="['/main/dental-chart']">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  open chart
                </span>
              </a>
            </h2>
  
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
          <div class="feature-block project-block">
            <strong>
  
              Drag Drop
            </strong>
            <p>
              Drag Word Or Text Files ....
            </p>
            <h2>
              <a aria-label="Read more about me"
                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode "
                [routerLink]="['/main/drag-files']">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Open Drag Drop
                </span>
              </a>
            </h2>
  
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-block project-block">
            <strong>
              <a aria-label="Read more about me"
                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode"
                href="https://github.com/AzmyAhmed2022/weji-app.git" target="_blank">
                <span class=" pe-2">
                  <i class="fa fa-link"></i>
                </span>
                <span>
                  Link
                </span>
              </a>
              Wegi App
            </strong>
            <p>
              Customer Order , Customer Dashboard Include Statics (GitHub)
            </p>
  
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Features Section -->