<!-- Error 404 Template 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5  d-flex justify-content" data-aos="zoom-out" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                        <span class="display-1 fw-bold" style="color: green;">Done </span>
                        <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
                        <span class="display-1 fw-bold bsb-flip-h"></span>
                    </h2>
                    <h3 class="h2 mb-2">Thank U. You're Signed Up .</h3>
                    <p class="mb-5">We Will Contact U Soon to Complete Registeration And Engjoy With Your Website And
                        Application. Have A Nice Day</p>
                    <button class="btn btn-success mt-3" (click)="gotoTeacherProtofilio()">Go To Your Website</button>

                </div>
            </div>

        </div>
    </div>
</section>