/***********************body */
body[dir='rtl'] {
  text-align: right;
  direction: rtl;

}

body[dir='ltr'] {
  text-align: left;
  direction: ltr;

}

body {
  background-color: #fff;
  color: #333;
  font-family: "Lato", sans-serif;

}

.t-header {
  position: fixed;
  top: 0;
  background: #fdfdfd;
  /* border: 1px solid #e7e7e7; */
  z-index: 10000;
  height: max-content;
  padding: 10px;
  border-bottom: 1px solid rgb(221, 220, 220);
  height: 65.6667px;
}

.t-footer {
  padding: 10px;
  z-index: 10000;
}

.t-first-section {
  background: linear-gradient(329deg, rgb(27 73 65 / 10%), rgb(28 64 36 / 52%) 0%, #055160);
  height: 60vh;
  ;
  height: 80vh;

  h1,
  h2,
  a {
    color: white !important;
  }
}

.t-last-section {
  background: linear-gradient(329deg, rgb(27 73 65 / 10%), rgb(28 64 36 / 52%) 0%, #055160);
  height: 60vh;

  h1,
  h2,
  a {
    color: white !important;
  }

  h2 {
    font-size: 14px !important;
  }
}

.separator {
  margin-top: 5px !important;
}

.website-ask {
  color: white !important;
  font-size: larger;
}

.preview-container {
  width: 789px;
  height: 466px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(https://d2h7f5bl7e7n5c.cloudfront.net/b3b1cdf9-cd8c-47da-afae-2e719e432f9c/assets/images/mac-book.png);

}


.t-body {
  margin-top: 65px;
  margin-left: 5px;
  margin-right: 5px;
}

.desktopMode {
  display: none !important;
}


.mobileMode {
  display: inline-flex !important;
}

@media only screen and (min-width: 1241px) {
  .desktopMode {
    display: inline-flex !important;
  }

  .mobileMode {
    display: none !important;

  }

  .sidenavsopen {
    width: 250px !important;
  }

}

.website-sidenav {
  z-index: 10000;
  height: 100%;
}



@media only screen and (max-width: 800px) {
  .shared-modal {
    top: 65px !important;
    left: 0 !important;
    width: 100% !important;

  }
}

.shared-modal {
  position: fixed;
  top: 65px;
  left: 25%;
  width: 60%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 1000000;
}

/* Media query for screens with a max width of 300px */
@media only screen and (max-width: 850px) and (min-width: 550px) {
  .t-body {
    margin-top: 65px !important;
    /* New margin-top for small screens */
  }

}

@media only screen and (min-width: 450px) {
  .t-body {
    margin-top: 65px !important;
    /* New margin-top for small screens */
  }

}

/* 
@media only screen and (max-width: 450px) and (min-width: 350px) {
  .t-body {
    margin-top: 165px !important;
  }

} */
.success-snackbar {

  /* Adjust text color if needed */
  .mdc-snackbar__surface {
    background-color: rgb(33, 130, 33) !important;
    color: white !important;
    margin-top: 70px;
    /* Adjust text color if needed */
  }

  .mdc-button__label,
  .mat-mdc-simple-snack-bar {
    color: white;
    font-size: large;
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    background-color: rgb(35, 35, 35) !important;
    color: white !important;
    margin-top: 70px;
    /* Adjust text color if needed */
  }

  .mdc-button__label,
  .mat-mdc-simple-snack-bar {
    color: white;
    font-size: large;
  }
  margin-top: 70px;

}

.warn-snackbar {
  .mdc-snackbar__surface {
    background-color: rgb(205, 166, 75) !important;
    color: black !important;
    margin-top: 70px;
    /* Adjust text color if needed */
  }

  .mdc-button__label,
  .mat-mdc-simple-snack-bar {
    color: white;
    font-size: large;
  }

  /* Adjust text color if needed */
}

@media only screen and (max-width: 350px) {
  .t-body {
    margin-top: 65px !important;
    /* New margin-top for small screens */
  }

}

@media only screen and (max-width: 320px) {
  .t-body {
    margin-top: 65px !important;
    /* New margin-top for small screens */
  }

}

.t-menu-icon {
  color: #737373;
  font-size: 27px !important;
  margin-top: 12px;
}

.t-close-icon {
  color: #737373;
  font-size: 27px !important;
}

.t-login-icon {
  color: green;
}

.t-signup-icon {
  color: blue;
}

.t-logo-icon {
  color: #1f3d36;
}

.t-lang-icon {
  color: #2f5859;
  font-size: 27px !important;
}

.t-mode-icon {
  color: #466d7e;
  font-size: 27px !important;

}

.t-responsive-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

/*********************************End Of Body */
.btn {
  border: 1px solid #dec8c854;
  border-radius: 10px;
  color: #198754;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  height: 35px;
  margin-top: 5px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

fa {
  font-size: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

.translate-icon {
  color: #198754;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.avatar {
  border-radius: 60px;
}

.main-header {
  background: white;
  border: 1px solid #edecec;
  padding: 10px;
  border-radius: 5px;
}

.home-title {
  font-size: 17px;
}

.home-icon {
  color: #198754 !important;
}

.active i {
  color: #198754;
}

.feature-block {
  transition: all 0.5s ease-in-out 0s;
  padding: 20px;
  height: 215px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin: 10px;
  align-content: center;

}

.feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

a {
  cursor: pointer;
}

/* About Us Section
  --------------------------------*/
/* for about  */
.block-head {
  font-size: 17px;
  color: black;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  border: 1px solid #edecec;
  border-radius: 8px;
  padding: 10px;

}

.section-title {
  color: #198754;
  margin-bottom: 8px;
  font-size: 30px;
}

/* cores Section
  --------------------------------*/
.cores-block {
  height: 75px;
  margin: 5px;
}

/* Project Section
  --------------------------------*/
.project-block {
  padding: 55px !important;
  height: 230px;
  margin: 5px;

}

/* My View Section
  --------------------------------*/
.my-view-img {
  border-radius: 60px;
  width: 200px;
  height: 200px;
}



/* Contact Section
  --------------------------------*/
.info {
  color: #198754;
}

.info i {
  font-size: 32px;
  color: #198754;
  float: left;
  line-height: 0;
}

.info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
  color: black;
}

.info .email p {
  padding-top: 5px;
}

.social-links {
  padding: 20px 0;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #198754;
  color: white;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin: 5px;
  cursor: pointer;
}

#contact .social-links a:hover {
  background: #198754;
  color: #fff;
}

.contact-submit-button {
  color: white;
  font-size: 11px;
  font-weight: bold;
  background-color: #198754;

}

/* sidenav */
.sidenavs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  border: 1px solid #d6d6d6;
  margin-left: -20px;
  margin-right: -20px;

}



.sidenavsopen {
  width: 400px;
}

.sidenavs a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavs a:hover,
.sidenavs .active,
.sidenavs .active:focus,
.sidenavs li:hover>a {
  color: #175774 !important;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.closebtn {
  font-size: 36px;
}



/* scroll top  area  */

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.scroll-to-top :hover {
  font-size: large;
}

.show-scrollTop .btn {
  background-color: #198754;
  color: white;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
  z-index: 10000;
  color: white;


}



.show-scrollTop i {
  color: white !important;
  font-size: 16px;
  margin-left: 0;
}

/* genral */
span,
strong,
p,
h1,
h2,
h3,
h4 {
  color: #555454;
}



.card {
  background-color: white !important
    /* background: linear-gradient(245deg, rgb(27 73 65 / 10%), rgb(28 64 36 / 52%) 0%, #055160);
  strong , h2{
    color: white !important;
  } */
}

.t-inline-element {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}