/***********************body */
body[dir='rtl'] {
  text-align: right;
  direction: rtl;

}

body[dir='ltr'] {
  text-align: left;
  direction: ltr;

}

body {
  background-color: #fff;
  color: #333;
  font-family: "Lato", sans-serif;

}

.t-header {
  position: fixed;
  top: 0;
  background: #fcfcfc;
  border: 1px solid #e7e7e7;
  z-index: 10000;
  height: max-content;
  padding: 10px;
}

.t-footer {
  padding: 10px;
  z-index: 10000;
}

.t-body {
  margin-top: 65px;
  margin-left: 5px;
  margin-right: 5px;
}

.website-sidenav {
  z-index: 10000;
  height: 100%;
}


/* Media query for screens with a max width of 300px */
@media only screen and (max-width: 850px) and (min-width: 550px) {
  .t-body {
    margin-top: 120px !important;
    /* New margin-top for small screens */
  }

}

@media only screen and (max-width: 550px) and (min-width: 450px) {
  .t-body {
    margin-top: 140px !important;
    /* New margin-top for small screens */
  }

}

@media only screen and (max-width: 450px) and (min-width: 350px) {
  .t-body {
    margin-top: 165px !important;
    /* New margin-top for small screens */
  }

}

@media only screen and (max-width: 350px) {
  .t-body {
    margin-top: 205px !important;
    /* New margin-top for small screens */
  }

}
@media only screen and (max-width: 320px) {
  .t-body {
    margin-top: 240px !important;
    /* New margin-top for small screens */
  }

}
.t-menu-icon {
  color: black;
}

.t-login-icon {
  color: green;
}

.t-signup-icon {
  color: blue;
}

.t-logo-icon {
  color: #1f3d36;
}

.t-lang-icon {
  color: cadetblue;
}

.t-mode-icon {
  color: cornflowerblue;
}

.t-responsive-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*********************************End Of Body */
.btn {
  border: 1px solid #dec8c854;
  border-radius: 10px;
  color: #198754;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  height: 35px;
  margin-top: 5px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

fa {
  font-size: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

.translate-icon {
  color: #198754;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.avatar {
  border-radius: 60px;
}

.main-header {
  background: white;
  border: 1px solid #edecec;
  padding: 10px;
  border-radius: 5px;
}

.home-title {
  font-size: 17px;
}

.home-icon {
  color: #198754 !important;
}

.active i {
  color: #198754;
}

.feature-block {
  background: #fff none repeat scroll 0 0;
  transition: all 0.5s ease-in-out 0s;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  height: 90%;


}

.feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

a {
  cursor: pointer;
}

/* About Us Section
  --------------------------------*/
/* for about  */
.block-head {
  font-size: 17px;
  color: black;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  border: 1px solid #edecec;
  border-radius: 8px;
  padding: 10px;

}

.section-title {
  color: #198754;
  margin-bottom: 8px;
  font-size: 30px;
}

/* cores Section
  --------------------------------*/
.cores-block {
  height: 75px;
  margin: 5px;
}

/* Project Section
  --------------------------------*/
.project-block {
  padding: 55px !important;
  height: 230px;
  margin: 5px;

}

/* My View Section
  --------------------------------*/
.my-view-img {
  border-radius: 60px;
  width: 200px;
  height: 200px;
}



/* Contact Section
  --------------------------------*/
.info {
  color: #198754;
}

.info i {
  font-size: 32px;
  color: #198754;
  float: left;
  line-height: 0;
}

.info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
  color: black;
}

.info .email p {
  padding-top: 5px;
}

.social-links {
  padding: 20px 0;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #198754;
  color: white;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin: 5px;
  cursor: pointer;
}

#contact .social-links a:hover {
  background: #198754;
  color: #fff;
}

.contact-submit-button {
  color: white;
  font-size: 11px;
  font-weight: bold;
  background-color: #198754;

}

/* sidenav */
.sidenavs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  border: 1px solid #d6d6d6;
  margin-left: -20px;
  margin-right: -20px;

}

.fa,
.bi {
  font-size: 22px;
  font-weight: bold;
}

.sidenavsopen {
  width: 250px;
}

.sidenavs a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavs a:hover,
.sidenavs .active,
.sidenavs .active:focus,
.sidenavs li:hover>a {
  color: #198754 !important;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.closebtn {
  font-size: 36px;
}



/* scroll top  area  */

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.scroll-to-top :hover {
  font-size: large;
}

.show-scrollTop .btn {
  background-color: #198754;
  color: white;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
  z-index: 10000;
  color: white;


}



.show-scrollTop i {
  color: white !important;
  font-size: 16px;
  margin-left: 0;
}

/* genral */
span,
strong,
p,
h1,
h2,
h3,
h4 {
  color: #737373;
  font-family: cursive !important;

}
button{
  font-family: cursive !important;

}
.card{
  background-color:#f4f4f4 !important
}