<section data-aos="zoom-in" data-aos-delay="100">
    <header class="pricing-header mt-4">
        <h1>

            {{translate.currentLang=='ar'?'خطط الأسعار':'Pricing Plans'}}
        </h1>
        <p>

            {{translate.currentLang=='ar'?'اختر ما يناسبك':'Choose a plan that suits your needs'}}
        </p>
    </header>
    <div class="pricing-container">

        <div *ngFor="let plan of pricingPlans" class="pricing-card" [ngClass]="plan.ClassName">
            <h2>{{translate.currentLang=='ar'?plan.TitleNameAr:plan.TitleNameEn }}</h2>
            <p class="price">{{ plan.Price }} L.E</p>
            <p class="discount">{{ plan.Discount }}% {{translate.currentLang=='ar'?'الخصم':'Discount'}} Discount</p>
            <p class="final-price">{{ plan.FinalPrice }} L.E</p>
            <button>{{translate.currentLang=='ar'?'أختر الشريحة':' Choose Plan'}}</button>
        </div>
    </div>
</section>