<!-- ======= Hero Section ======= -->

<section id="hero">
  <!-- <div class="text-center">
      <h1>Welcome To
  
        <a class=" d-inline-flex btn-sm mx-1">
          <h2 class="text-muted"><i class='fa fa-leanpub t-logo-icon'>I'M </i>
            <strong class="text-muted">Teacher</strong>
  
          </h2>
  
        </a>
      </h1>
      <h2>Teacher Management Information System. All You Need Here We Will Do It Start With Us</h2>
    </div> -->
  <div data-aos="fade-in">

    <div class=" hero">
      <div style="background:url(&quot;assets/images/slider/silde1.png&quot;);height: 75vh;direction: ltr !important;">
        <div class="p-5">
          <div class="row">
            <div class="col-sm-4">
              <h1 style="color: white !important">
                50 Procedures that Will Save Your Sanity
              </h1>
              <h2 style="color: white !important">
                Discover simple procedures to make your classroom run more efficiently
              </h2>
              <a class="btn btn-hg btn-success m-2"><i class="fa fa-play"></i>&nbsp;&nbsp; Watch Class</a>

              <a id="enroll-button-top m-2" class="btn btn-hg btn-primary btn-header-enroll payment-scroller">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Enroll in Class
              </a>
            </div>
          </div>

        </div>
      </div>

      <div id="promoModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="promoModalLabel"
        aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <br><br>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 course-splash-media video">
              <div class="wistia_responsive_padding">
                <div class="wistia_responsive_wrapper">
                  <div class="hotmart_video_player public-hotmart-video" data-asset-id="8218209"
                    data-asset-type="attachment"><iframe title="Video Player" frameborder="0" scrolling="no"
                      class="rzhNp FjS60" name="hotmart_embed" data-testid="embed-player" referrerpolicy="strict-origin"
                      allowfullscreen="" allow="autoplay; fullscreen"
                      src="https://player.hotmart.com/embed/5qBWPky3LM?signature=dABc211NaGgVhNHEXPkNahUJkok5WwpDDQRC-tdNDLsG8wJPLep1jVgD1wLYAkd-XF4R9YhdV6DHsqEXSo6_mqBqny1rwgnXAN1Fbn_skbtE2cinGXp_EmamHzq9ld6-3mgmXL-AXiDMYlWNy9g_HhWy97Vt7ODc9jFAxz3M2UNRrjukjdoMpkIDTI3amiCi7Hh4DoKwJ9yPR3RXpadw74fcU63dc5GUxrCwKelpAFUKi_qiLroqahNn-JPssZGFikPnjQoPzYT29HDHWJVmfUAzh4al7FJv_nfM2CxzBm93Dce4YlNqMjiK6TxGqNksA7CHqFn3_KXvo2MOf9KABQ%3D%3D&amp;token=aa2d356b-e2f0-45e8-9725-e0efc7b5d29c"
                      __idm_id__="1744897"></iframe></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>

</section><!-- End Hero Section -->
<div class="btns text-center mt-3 text-muted">
  <a href="#"><i class="fa fa-facebook fa-2x "></i>facebook</a>
  <a href="#"><i class="fa fa-linkedin fa-2x"></i>linkedin</a>
  <a href="#"><i class="fa fa-whatsapp fa-2x"></i>Whatsapp</a>
</div>
<main id="main">
  <!-- ======= Get about Section ======= -->
  <section id="get-started" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2> <a class=" d-inline-flex btn-sm mx-1">
            <h1>Welcome To

              <a class=" d-inline-flex btn-sm mx-1">
                <h2 class="text-muted"><i class='fa fa-leanpub t-logo-icon'>I'M </i>
                  <strong class="text-muted">Teacher</strong>

                </h2>

              </a>
            </h1>

          </a> (TMIS) </h2>
        <p class="separator">I'M Teacher is a simple user-friendly solution to
          supporting a harmonized and timely access to teacher information at all administrative levels of the Ministry
          of Education and Sports and associated agencies; at national, district and education institution levels. Its
          main objective is to solve the problem of dis-jointed teacher records accross the various sections of
          government and the education ministry. By enabling teachers to take control of their records and increasing
          transparency in the ministry's provision of services, it is speeding up service delivery, improving the
          ministry's efficiency and the relationship of the teaching professionals with government.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">

            <img src="assets/img/svg/cloud.svg" alt="img">
            <h4>introducing whatsapp Messages</h4>

          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">

            <img src="assets/img/svg/cloud.svg" alt="img">
            <h4>introducing Gmail Messages</h4>

          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">

            <img src="assets/img/svg/planet.svg" alt="img">
            <h4>user friendly interface</h4>
            <p>Easy To Use</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">

            <img src="assets/img/svg/asteroid.svg" alt="img">
            <h4>build the app every teacher love</h4>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Get about Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Amazing Features</h2>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/paint-palette.svg" alt="img">
            <h4>creative design</h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/design-tool.svg" alt="img">
            <h4>easy to use</h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/asteroid.svg" alt="img">
            <h4>Free Updates</h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/cloud-computing.svg" alt="img">
            <h4>App support</h4>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/pixel.svg" alt="img">
            <h4>Perfect Pixel</h4>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/code.svg" alt="img">
            <h4>clean codes</h4>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Features Section -->
  <!-- ======= Clients Section ======= -->
  <section id="features" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Dear Clients</h2>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/images/clients/mr-mohamedahmed.png" alt="img">
            <h4>Alenara Center</h4>
            <p>all materials</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/design-tool.svg" alt="img">
            <h4>Mr/ Mohamed Ahmed</h4>
            <p>Social studies subject </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/asteroid.svg" alt="img">
            <h4>Mr /Mahmoud Hemeda</h4>
            <p>
              Math subject
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/cloud-computing.svg" alt="img">
            <h4>Mr/ Gamal Shokry </h4>
            <p>
              Arabic subject
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/pixel.svg" alt="img">
            <h4> Mrs/ Manar Mohamed</h4>
            <p>
              Accounting subject
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/code.svg" alt="img">
            <h4>Mrs / Manar Ahmed </h4>
            <p>
              math subject
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/code.svg" alt="img">
            <h4>Mrs / Rehab Samir </h4>
            <p>
              English subject
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="assets/img/svg/code.svg" alt="img">
            <h4>Mrs / Eman Ahmed </h4>
            <p>
              Social studies subject
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Clients Section -->
  <!-- ======= Team Section ======= -->
  <section id="team" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>Team Member</h2>
        <p class="separator">we are amazing collaborative and helpful team</p>
      </div>

      <div class="row">

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="team-block bottom">
            <img src="assets/images/team/azmy.png" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
              </ul>
              <span>CEO</span>
              <h4>Azmy Ahmed</h4>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
          <div class="team-block bottom">
            <img src="assets/images/team/selem.png" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
              </ul>
              <span>CTO</span>
              <h4>Ahmed Selem</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Team Section -->

  <!-- ======= FaQS Section ======= -->
  <section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>
                      Why Do I Need To Register To I'M Teacher?
                    </p>
                    <p>If you are a teacher, your record will need to be in the system to be matched across the various
                      organizations in the ministry. Registering on TMIS provides you with the benefit of a faster
                      service for your requests such as issuance of certificates, requesting transfers, leave
                      application and many more. It is a service that will be indispensible for a teacher's interaction
                      with the ministry and you are therefore encouraged to register earlier so that your application is
                      approved sooner.</p>
                    <h4>Azmy Ahmed<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>What Is I'm Teacher?</p>
                    <p>The Teacher Management Information System (TMIS) is a simple user-friendly solution to supporting
                      a harmonized and timely access to teacher information at all administrative levels of the Ministry
                      of Education and Sports and associated agencies; at national, district and education institution
                      levels. Its main objective is to solve the problem of dis-jointed teacher records accross the
                      various sections of government and the education ministry. By enabling teachers to take control of
                      their records and increasing transparency in the ministry's provision of services, it is speeding
                      up service delivery, improving the ministry's efficiency and the relationship of the teaching
                      professionals with government.

                    </p>
                    <h4>Azmy Ahmed<span>manager</span></h4>

                  </div>
                </div>


                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>
                      Who Owns I'm Teacher?
                    </p>
                    <p>TMIS is owned by the Ugandan Ministry of Education and Sports (MoES). It has full control over
                      your access and service provision as detailed in the terms of use. TMIS was developed with the
                      support of The United Nations Educational, Scientific and Cultural Organization (UNESCO); a
                      specialized agency of the United Nations.</p>
                    <h4>Azmy Ahmed<span>manager</span></h4>

                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>
                      How Do I Access To I'm Teacher?
                    </p>
                    <p>To get access to the services of TMIS, you have to be a teacher in a government sponsored school
                      or a professional in the education ministry of Uganda. Teachers register on the system through a
                      4-stage form that begins at the home page. Other non-teacher education professionals are
                      encouraged to apply for approval using the signup link on our website.</p>
                    <h4>Azmy Ahmed<span>manager</span></h4>

                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>
                      I am Stuck How Can I Find Help?
                    </p>
                    <p>If you are stuck and can not complete a process on the website, you are encouraged to send our
                      admin team a message using our contact us form any time of day. Inquiries will be handled
                      depending on urgency and first-come-first-served basis. Our admin team determines the urgency of
                      the matter or inquiry. You are advised to send only relevant messages and be patient for a
                      response. Additional inquiries on the same matter do not speed up our response to you.</p>
                    <h4>Azmy Ahmed<span>manager</span></h4>

                  </div>
                </div>
              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="3"></li>
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="4"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Testimonials Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="padd-section">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Contact</h2>
        <p class="separator">Send To Us And We Will Contact You Soon
        </p>
      </div>
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="bi bi-geo-alt"></i>
              <p class="">Location : Tanta , Egypt</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <p class="">Gmail : azmyahmedbasuonygmail.com</p>
            </div>

            <div>
              <i class="bi bi-phone "></i>
              <p class="">Whatsapp : 01004303936</p>
            </div>
          </div>

          <div class="social-links">
            <a aria-label="Read more about me" target="_blank" href="https://x.com/rgfdgvfdyazoma" class="twitter"><i
                class="fa fa-twitter social-links-icons"></i></a>
            <a aria-label="Read more about me" target="_blank"
              href="https://www.facebook.com/profile.php?id=100015169905913" class="facebook"><i
                class="fa fa-facebook fa-2x social-links-icons"></i></a>
            <a aria-label="Read more about me" target="_blank" href="https://www.linkedin.com/in/azmy-ahmed-5197bb196/"
              class="linkedin"><i class="fa fa-linkedin fa-2x social-links-icons"></i></a>
            <a aria-label="Read more about me" target="_blank" href="https://www.linkedin.com/in/azmy-ahmed-5197bb196/"
              class="linkedin"><i class="fa fa-whatsapp fa-2x social-links-icons"></i></a>
          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form (ngSubmit)="sendEmail($event)" class="php-email-form" #emailForm="ngForm">
              <div class="form-group">
                <input type="text" name="user_name" class="form-control" id="name" placeholder="Your Name" required
                  ngModel #userName="ngModel">
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                  <div *ngIf="userName.errors?.['required']">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="user_email" id="email" placeholder="Your Email" required
                  ngModel #userEmail="ngModel">
                <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger">
                  <div *ngIf="userEmail.errors?.['required']">
                    Email is required.
                  </div>
                  <div *ngIf="userEmail.errors?.['email']">
                    Invalid email format.
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required
                  ngModel #subject="ngModel">
                <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert alert-danger">
                  <div *ngIf="subject.errors?.['required']">
                    Subject is required.
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required ngModel
                  #message="ngModel"></textarea>
                <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert alert-danger">
                  <div *ngIf="message.errors?.['required']">
                    Message is required.
                  </div>
                </div>
              </div>

              <div class="text-center m-4"><button type="submit" id="sendMessage" aria-label="sendMessage"
                  class="btn  contact-submit-button">Send
                  Message</button></div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->