<!-- ======= Hero Section ======= -->
<app-teacher-protofilio-first-content></app-teacher-protofilio-first-content>
<main id="main">
  <!-- ======= Get about Section ======= -->
  <app-teacher-protofilio-about></app-teacher-protofilio-about>
  <!-- End Get about Section -->
  <!-- ======= classrooms Section ======= -->
  <app-teacher-protofilio-classrooms></app-teacher-protofilio-classrooms>
  <app-teacher-protofilio-class-features></app-teacher-protofilio-class-features>
  <!-- End classrooms Section -->
  <!-- ======= Clients Section ======= -->
  <!-- <app-website-clients></app-website-clients> -->
  <!-- End Clients Section -->
  <!-- ======= Team Section ======= -->
  <!-- <app-website-team></app-website-team> -->
  <!-- End Team Section -->
  <!-- ======= FaQS Section ======= -->
  <!-- <app-website-faqs></app-website-faqs> -->
  <!-- End Testimonials Section -->
  <!-- ======= Contact Section ======= -->
  <!-- <app-website-contactus></app-website-contactus> -->
  <!-- ======= Last Section ======= -->
  <app-teacher-protofilio-last-content></app-teacher-protofilio-last-content>
</main><!-- End #main -->