
  <div class="container mt-4" data-aos="zoom-out" data-aos-delay="30">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Visitor</th>
          <th scope="col">Time of Visit</th>
          <th scope="col">Read</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications" [ngClass]="{'notificationReaded': notification.isReadFlag==true}">
          <td>{{ notification.visitor }}</td>
          <td>{{ notification.timeOfVisit }}</td>
          <td>  <a class="btn btn-success d-inline-flex btn-sm   mx-1 mt-2" (click)="readTeacherNotification(notification)">
            {{"Read"|translate}}
        </a></td>
        
        </tr>
      </tbody>
    </table>
  </div>