<!-- ======= Team Section ======= -->
<section id="team" class="padd-section text-center" data-aos="zoom-in" data-aos-delay="100">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>{{ translate.currentLang=='ar'?this.websiteSectionsDataResult[0]?.TitleNameAr:
                this.websiteSectionsDataResult[0]?.TitleNameEn }}</h2>
            <p class="separator">{{ translate.currentLang=='ar'?this.websiteSectionsDataResult[0]?.DescAr:
                this.websiteSectionsDataResult[0]?.DescEn }}</p>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-4 col-lg-3" *ngFor="let result of websiteSectionsDataResult" data-aos="zoom-in"
                data-aos-delay="100">
                <div class="team-block bottom">
                    <img [src]="result.ImgSrc" class="img-responsive" alt="img">
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a [href]="result.FaceBookLink" target="_blank"><i class="fa fa-facebook mx-2"></i></a>
                            </li>
                            <li><a [href]="result.LinkedInLink" target="_blank"><i class="fa fa-linkedin mx-2"></i></a>
                            </li>
                            <li><a [href]="result.TwitterLink" target="_blank"><i class="fa fa-twitter mx-2">
                                    </i></a></li>
                            <li><a [href]="result.Link" target="_blank"><i class="fa fa-globe mx-2"></i></a>
                            </li>
                        </ul>

                        <h4>{{ translate.currentLang=='ar'?this.result?.DetailAr:
                            this.result?.DetailEn }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Team Section -->