<!-- ======= Team Section ======= -->
<section id="team" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Team Member</h2>
            <p class="separator">we are amazing collaborative and helpful team</p>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="team-block bottom">
                    <img src="assets/images/team/azmy.png" class="img-responsive" alt="img">
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <span>CEO</span>
                        <h4>Azmy Ahmed</h4>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                <div class="team-block bottom">
                    <img src="assets/images/team/selem.png" class="img-responsive" alt="img">
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <span>CTO</span>
                        <h4>Ahmed Selem</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Team Section -->

<!-- ======= FaQS Section ======= -->
<section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="testimonials-content">
                    <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-inner" role="listbox">

                            <div class="carousel-item  active">
                                <div class="top-top">

                                    <h2>Our Users Speack volumes us</h2>
                                    <p>
                                        Why Do I Need To Register To I'M Teacher?
                                    </p>
                                    <p>If you are a teacher, your record will need to be in the system to be matched
                                        across the various
                                        organizations in the ministry. Registering on TMIS provides you with the benefit
                                        of a faster
                                        service for your requests such as issuance of certificates, requesting
                                        transfers, leave
                                        application and many more. It is a service that will be indispensible for a
                                        teacher's interaction
                                        with the ministry and you are therefore encouraged to register earlier so that
                                        your application is
                                        approved sooner.</p>
                                    <h4>Azmy Ahmed<span>manager</span></h4>

                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>Our Users Speack volumes us</h2>
                                    <p>What Is I'm Teacher?</p>
                                    <p>The Teacher Management Information System (TMIS) is a simple user-friendly
                                        solution to supporting
                                        a harmonized and timely access to teacher information at all administrative
                                        levels of the Ministry
                                        of Education and Sports and associated agencies; at national, district and
                                        education institution
                                        levels. Its main objective is to solve the problem of dis-jointed teacher
                                        records accross the
                                        various sections of government and the education ministry. By enabling teachers
                                        to take control of
                                        their records and increasing transparency in the ministry's provision of
                                        services, it is speeding
                                        up service delivery, improving the ministry's efficiency and the relationship of
                                        the teaching
                                        professionals with government.

                                    </p>
                                    <h4>Azmy Ahmed<span>manager</span></h4>

                                </div>
                            </div>


                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>Our Users Speack volumes us</h2>
                                    <p>
                                        Who Owns I'm Teacher?
                                    </p>
                                    <p>TMIS is owned by the Ugandan Ministry of Education and Sports (MoES). It has full
                                        control over
                                        your access and service provision as detailed in the terms of use. TMIS was
                                        developed with the
                                        support of The United Nations Educational, Scientific and Cultural Organization
                                        (UNESCO); a
                                        specialized agency of the United Nations.</p>
                                    <h4>Azmy Ahmed<span>manager</span></h4>

                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>Our Users Speack volumes us</h2>
                                    <p>
                                        How Do I Access To I'm Teacher?
                                    </p>
                                    <p>To get access to the services of TMIS, you have to be a teacher in a government
                                        sponsored school
                                        or a professional in the education ministry of Uganda. Teachers register on the
                                        system through a
                                        4-stage form that begins at the home page. Other non-teacher education
                                        professionals are
                                        encouraged to apply for approval using the signup link on our website.</p>
                                    <h4>Azmy Ahmed<span>manager</span></h4>

                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>Our Users Speack volumes us</h2>
                                    <p>
                                        I am Stuck How Can I Find Help?
                                    </p>
                                    <p>If you are stuck and can not complete a process on the website, you are
                                        encouraged to send our
                                        admin team a message using our contact us form any time of day. Inquiries will
                                        be handled
                                        depending on urgency and first-come-first-served basis. Our admin team
                                        determines the urgency of
                                        the matter or inquiry. You are advised to send only relevant messages and be
                                        patient for a
                                        response. Additional inquiries on the same matter do not speed up our response
                                        to you.</p>
                                    <h4>Azmy Ahmed<span>manager</span></h4>

                                </div>
                            </div>
                        </div>

                        <div class="btm-btm">

                            <ul class="list-unstyled carousel-indicators">
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="3"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="4"></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Testimonials Section -->