<header class="t-header fixed-top d-flex d-inline-flex
     align-items-center header-container justify-content-between t-responsive-header">
    <!-- *ngIf="(userData?.UserType==1) &&userData.LoginStatus==1" -->

    <div class="d-inline-flex t-responsive-header">
        <a class="t-lang m-3 " (click)="toggleSidNav()">
            <span class=" pe-1">
                <i class="fa fa-tasks t-lang-icon"></i>
            </span>
        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" (click)="gotoAdminLogout()">

            <span>
                {{"ADMINLOGOUT"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>
        <a class="t-lang m-3 " (click)="toggleLanguage()">
            <span class=" pe-1">
                <i class="fa fa-language t-lang-icon"></i>
            </span>
            <span>
                {{"LANG"|translate}} </span>

        </a>
        <a class="t-mode m-3" (click)="switchTheme()">
            <span class=" pe-1">
                <i class="fa fa-moon-o t-mode-icon">
                </i> </span>
            <span>
                {{"MODE"|translate}} </span>

        </a>
        <a class=" d-inline-flex btn-sm " (click)="gotoIamTeacherWebsite()">
            <img src="/assets/images/shared/t-logo.PNG" alt="Avatar" class="avatar" alt="img">
        </a>



        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" [ngClass]="{ 'active': activeLink === 'website' }" (click)="getLinks('website')">

            <span>
                {{"WEBSITE"|translate}}
                <i class="fa fa-globe">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" [ngClass]="{ 'active': activeLink === 'teacher-protofilio' }" (click)="getLinks('teacher-protofilio')">

            <span>
                {{"TEACHERPROTOFILIO"|translate}}
                <i class="fa fa-user">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" [ngClass]="{ 'active': activeLink === 'teacher' }" (click)="getLinks('teacher')">

            <span>
                {{"APPLICATION"|translate}}
                <i class="fa fa-building">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" [ngClass]="{ 'active': activeLink === 'company' }" (click)="getLinks('company')">

            <span>
                {{"COMPANY"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>
    </div>

</header>

<aside class="side-naav" [ngClass]="{
  'side-naav-left': currentLang === 'en',
  'side-naav-right': currentLang === 'ar',
  'side-naav-open': showSideNavFlag,
  'side-naav-closed': !showSideNavFlag
}">
    <div class="mx-5 p-2">
        <a class="d-inline-flex btn-sm text-center">
           
                <i class="fa fa-plus">
                </i>
                {{"ADDLINK"|translate}}
 </a>
    </div>
    <nav>
        <ul>
            <li *ngFor="let link of sidNavLinks" class="d-flex justify-content-between align-items-center">
              <div class="d-inline-flex align-items-center">
                <a (click)="onLinkClick(link)" [routerLink]="[link.AdminRoutePath]" routerLinkActive="active" class="d-flex align-items-center">
                  <i class="sidenav-link-icon" [class]="link.ClassName"></i>
                  <span class="sidenav-link-text ">
                    {{ translate.currentLang == 'ar' ? link.NameAr : link.NameEn }}
                  </span>
                </a>
              </div>
        
            </li>
          </ul>
          
    </nav>
</aside>