<header class="t-header fixed-top d-flex d-inline-flex
     align-items-center header-container justify-content-between t-responsive-header">
    <!-- *ngIf="(userData?.UserType==1) &&userData.LoginStatus==1" -->

    <div class="d-inline-flex t-responsive-header">
        <a class="t-lang m-3 " (click)="toggleLanguage()">
            <span class=" pe-1">
                <i class="fa fa-language t-lang-icon"></i>
            </span>
            <span>
                {{"LANG"|translate}} </span>

        </a>
        <a class="t-mode m-3" (click)="switchTheme()">
            <span class=" pe-1">
                <i class="fa fa-moon-o t-mode-icon">
                </i> </span>
            <span>
                {{"MODE"|translate}} </span>

        </a>
        <a class=" d-inline-flex btn-sm " (click)="gotoIamTeacherWebsite()">
            <img src="/assets/images/shared/t-logo.PNG" alt="Avatar" class="avatar" alt="img">
        </a>

        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" (click)="gotoAdminLogout()">

            <span>
                {{"ADMINLOGOUT"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" (click)="getLinks('admin')">

            <span>
                {{"ADMIN"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" (click)="getLinks('website')">

            <span>
                {{"WEBSITE"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" (click)="getLinks('teacher-protofilio')">

            <span>
                {{"TEACHERPROTOFILIO"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>
        <a class=" d-inline-flex btn-sm   m-3 border mobileMode" (click)="getLinks('teacher')">

            <span>
                {{"APPLICATION"|translate}}
                <i class="fa fa-user-secret">
                </i>
            </span>

        </a>

    </div>

</header>

<aside class="side-naav" [ngClass]="{'side-naav-left': currentLang === 'ar', 'side-naav-right': currentLang === 'en'}">
    <div>
        <a class=" d-inline-flex btn-sm ">
            <img src="/assets/images/shared/t-logo.PNG" alt="Avatar" class="avatar" alt="img">
        </a>
    </div>
    <nav>
        <ul >
        <li *ngFor="let link of sidNavLinks" (click)="onLinkClick(link)"><a [routerLink]="[link.RoutePath]"
            routerLinkActive="active">
          
            <span class="sidenav-link-text">
                {{translate.currentLang=='ar'?link.NameAr:link.NameEn}}
            </span>
            <i class="sidenav-link-icon" [class]="link.ClassName">
            </i>
        </a></li>
   
      </ul>

        <!-- <div *ngFor="let link of sidNavLinks">
            <a class="sidenav-nav-link applyDarkMode"
             [routerLink]="[link.RoutePath]"
              routerLinkActive="active"
                aria-label="Read more about me" [routerLinkActiveOptions]="{exact:true}" (click)="onLinkClick(link)">
                <i class="sidenav-link-icon" [class]="link.ClassName">
                </i>
                <span class="sidenav-link-text">
                    {{translate.currentLang=='ar'?link.NameAr:link.NameEn}}
                </span>
            </a>
        </div> -->
    </nav>
</aside>