<div class="fluid-container mt-5" data-aos="zoom-out" data-aos-delay="100">
  <div class="row">
    <!-- Image Column -->

    <!-- Form Column -->
    <div class=" col-md-4 card">

      <div class="card-body">
        <div class="text-center">
          <h2 class="mb-4">Login
            <i class="fa fa-user-o"></i>
          </h2>
        </div>

        <div class="col-10 m-4">
          <strong class="m-2">
            Login As
          </strong>
          <div>
            <select class="form-select" aria-label="Default select example">
              <option *ngFor="let option of options" [value]="option.Serial">
                <strong> {{ option.NameEn }}</strong>
              </option>
            </select>
          </div>
        </div>

        <app-forms formName="login" iconClass="fa fa-user-o" title="Login" [gridClass]="'col-sm-12 mb-3'"
          (formSubmit)="handleFormSubmit($event)"></app-forms>
        <div class="m-1 text-center">
          <button (click)="teacherLoginToIamTeacherApp()" class="btn btn-success">


            Login To I'M Teacher

          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <img src="assets/images/slider/silde1.png" class="img-fluid" alt="Image" style="height: auto;">
    </div>
  </div>
</div>