<div class="container mt-5" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <!-- Image Column -->
    
      <!-- Form Column -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <app-forms formName="login" iconClass="fa fa-user-o" title="Login" [gridClass]="'col-sm-12 mb-3'" (formSubmit)="handleFormSubmit($event)"></app-forms>
            <div class="m-1 text-center">
              <button (click)="teacherLoginToIamTeacherApp()" class="btn btn-success">Login To I'M Teacher</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <img src="assets/images/slider/silde1.png" class="img-fluid" alt="Image" style="height: auto;">
      </div>
    </div>
  </div>