<section>

    <div class="block-head">
        <strong class="section-title">
            Azmy Ahmed <span>
                software engineer
            </span>
        </strong><br>
        <span>A man of commitment, focus and relentless determination</span>
        <div class="btns justify-content-center d-inline-flex">
            <a href="https://github.com/azmyahmed"><i class="fa fa-github  translate-icon"
                    aria-label="Read more about me"></i> </a>
            <a href="https://www.linkedin.com/in/azmy-ahmed-5197bb196/" aria-label="Read more about me"><i
                    class="fa fa-linkedin translate-icon"></i>
            </a>
            <a title="azmyahmedbasuony@gmail.com" aria-label="Read more about me" href="#"><i
                    class="fa fa-envelope  translate-icon"></i> </a>

        </div>
    </div>
</section><!-- End Hero Section -->
<div class="container">
    <div class=" text-center">
        <h2>
            <strong class="section-title applyDarkMode">
                About
            </strong><br>
            <a class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 applyDarkMode"
                href="/assets/files/myresume.pdf" target="_blank" download="cv.pdf" aria-label="Read more about Cv">
                Download Resume
                <i class="fa fa-file-pdf-o"></i>
            </a>

        </h2>
        <p class=" applyDarkMode">Front-End Developer with 3+ years of experience of Building Web
            Applications Using
            Front
            End Framework
            <strong>Angular</strong>
            , build RESTful APIs Using Back End framework
            <strong>.NET</strong>
            Design Database Using
            <strong>Sql</strong>
            Server .
            Business Analysis, Implementation, Client Communication And Production Testing.
            Demonstrates strong critical thinking, decision making, problem solving, time management, multi-tasking,
            and
            communication skills.

        </p>

    </div>
</div>