.header {
  background-color: #198754;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  box-shadow: 15px 14px 13px rgba(0, 0, 0, 0.1);
}

.header h3 {
  color: white;
  /* Darker text color */
  /* Larger font size */
  margin: 0;
  /* Remove default margin */
  font-family: cursive;
}