<!-- ======= Clients Section ======= -->
<section id="features" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Dear Clients</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/paint-palette.svg" alt="img">
                    <h4>Alenara Center</h4>
                    <p>all materials</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/images/clients/mr-mohamedahmed.png" alt="img">
                    <h4>Mr/ Mohamed Ahmed</h4>
                    <p>Social studies subject </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/asteroid.svg" alt="img">
                    <h4>Mr /Mahmoud Hemeda</h4>
                    <p>
                        Math subject
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/cloud-computing.svg" alt="img">
                    <h4>Mr/ Gamal Shokry </h4>
                    <p>
                        Arabic subject
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/pixel.svg" alt="img">
                    <h4> Mrs/ Manar Mohamed</h4>
                    <p>
                        Accounting subject
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/code.svg" alt="img">
                    <h4>Mrs / Manar Ahmed </h4>
                    <p>
                        math subject
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/code.svg" alt="img">
                    <h4>Mrs / Rehab Samir </h4>
                    <p>
                        English subject
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/code.svg" alt="img">
                    <h4>Mrs / Eman Ahmed </h4>
                    <p>
                        Social studies subject
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Clients Section -->