<section id="hero">
    <!-- style="background:url(&quot;assets/images/slider/silde1.png&quot;);height: 75vh;direction: ltr !important;" -->
    <div class="t-first-section" data-aos="zoom-out" data-aos-delay="100">
        <div>
            <div class="row ">
                <div class="col-md-4 m-5">
                    <h1>
                        50 Procedures that Will Save Your Sanity
                    </h1>
                    <h2>
                        Discover simple procedures to make your classroom run more efficiently
                    </h2>
                    <a class="btn btn-sm btn-success m-2"
                        (click)="openModalTemplate('bookWithTeacher','BOOKWITHTEACHER')"><i class="fa fa-play-circle-o"
                            aria-hidden="true"></i>

                        Book With Teacher
                    </a>

                    <a class="btn btn-sm btn-primary " (click)="openModalTemplate('classView','ClassView')"> <i
                            class="fa fa-desktop" aria-hidden="true"></i>

                        Class View
                    </a>


                </div>



            </div>

        </div>
    </div>




</section><!-- End Hero Section -->
<div class="btns text-center mt-3 text-muted p-2 ">
    <a href="#" class="m-2"><i class="fa fa-facebook fa-2x "></i>facebook</a>
    <a href="#" class="m-2"><i class="fa fa-linkedin fa-2x"></i>linkedin</a>
    <a href="#" class="m-2"><i class="fa fa-whatsapp fa-2x"></i>Whatsapp</a>
</div>

<!-- Sof Modal area  23-7-2024-->
<ng-template #modalTemplate>
    <!-- ======================================teacher-protofilio area============================= -->
    <div *ngIf="targetComponent=='bookWithTeacher'">
        <app-teacher-protofilio-bookwith></app-teacher-protofilio-bookwith>
    </div>
    <div *ngIf="targetComponent=='classView'">
        <app-teacher-protofilio-class-view></app-teacher-protofilio-class-view>
    </div>

</ng-template>
<app-modal [content]="modalTemplate" [title]="componentTitle"></app-modal>
<!-- Eof Modal area  19-7-2024-->