<section id="hero">
    <!-- style="background:url(&quot;assets/images/slider/silde1.png&quot;);height: 75vh;direction: ltr !important;" -->
    <div class="t-first-section" data-aos="zoom-out" data-aos-delay="100">
        <div>
            <div class="row ">
                <div class="col-md-4 m-5">
                    <h1>
                        50 Procedures that Will Save Your Sanity
                    </h1>
                    <h2>
                        Discover simple procedures to make your classroom run more efficiently
                    </h2>
                    <a class="btn btn-sm btn-success m-2"><i class="fa fa-play-circle-o" aria-hidden="true"></i>
                        Live View
                    </a>

                    <a class="btn btn-sm btn-primary "  (click)="openModalTemplate('bookDemo','BOOKDEMO')"> <i class="fa fa-desktop" aria-hidden="true"></i>

                        Book Demo
                    </a>
                </div>

                <div class="col-md-8 m-5 preview-container">
                    <!-- <iframe class="" src="//player.vimeo.com/video/268913506" height="340px" title="0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> -->
                </div>
            </div>

        </div>
    </div>




</section><!-- End Hero Section -->
<div class="btns text-center mt-3 text-muted">
    <a href="#"><i class="fa fa-facebook fa-2x "></i>facebook</a>
    <a href="#"><i class="fa fa-linkedin fa-2x"></i>linkedin</a>
    <a href="#"><i class="fa fa-whatsapp fa-2x"></i>Whatsapp</a>
</div>

<!-- Sof Modal area  23-7-2024-->
<ng-template #modalTemplate>
    <div *ngIf="targetComponent=='bookDemo'">
        <!-- ======================================website area======================================= -->
        <app-website-bookdemo></app-website-bookdemo>
    </div>
    <div *ngIf="targetComponent=='liveView'">.
        <app-website-bookdemo></app-website-bookdemo>
    </div>

</ng-template>
<app-modal [content]="modalTemplate" [title]="componentTitle"></app-modal>
<!-- Eof Modal area  19-7-2024-->