<section id="hero">
    <!-- style="background:url(&quot;assets/images/slider/silde1.png&quot;);height: 75vh;direction: ltr !important;" -->
    <div class="t-first-section" data-aos="zoom-out" data-aos-delay="100">
        <div>
            <div class="row ">
                <div class="col-md-4 m-5">
                    <h1>
                        50 Procedures that Will Save Your Sanity
                    </h1>
                    <h2>
                        Discover simple procedures to make your classroom run more efficiently
                    </h2>
                    <a class="btn btn-hg btn-success m-2"><i class="fa fa-play"></i>&nbsp;&nbsp; Watch App</a>

                    <a id="enroll-button-top m-2" class="btn btn-hg btn-primary btn-header-enroll payment-scroller">
                        <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Enroll in App
                    </a>
                </div>
                <div class="col-md-8 m-5 preview-container">
                    <!-- <iframe class="" src="//player.vimeo.com/video/268913506" height="340px" title="0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> -->
                </div>
            </div>

        </div>
    </div>

    <div id="promoModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="promoModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <br><br>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-splash-media video">
                    <div class="wistia_responsive_padding">
                        <div class="wistia_responsive_wrapper">
                            <div class="hotmart_video_player public-hotmart-video" data-asset-id="8218209"
                                data-asset-type="attachment"><iframe title="Video Player" frameborder="0" scrolling="no"
                                    class="rzhNp FjS60" name="hotmart_embed" data-testid="embed-player"
                                    referrerpolicy="strict-origin" allowfullscreen="" allow="autoplay; fullscreen"
                                    src="https://player.hotmart.com/embed/5qBWPky3LM?signature=dABc211NaGgVhNHEXPkNahUJkok5WwpDDQRC-tdNDLsG8wJPLep1jVgD1wLYAkd-XF4R9YhdV6DHsqEXSo6_mqBqny1rwgnXAN1Fbn_skbtE2cinGXp_EmamHzq9ld6-3mgmXL-AXiDMYlWNy9g_HhWy97Vt7ODc9jFAxz3M2UNRrjukjdoMpkIDTI3amiCi7Hh4DoKwJ9yPR3RXpadw74fcU63dc5GUxrCwKelpAFUKi_qiLroqahNn-JPssZGFikPnjQoPzYT29HDHWJVmfUAzh4al7FJv_nfM2CxzBm93Dce4YlNqMjiK6TxGqNksA7CHqFn3_KXvo2MOf9KABQ%3D%3D&amp;token=aa2d356b-e2f0-45e8-9725-e0efc7b5d29c"
                                    __idm_id__="1744897"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</section><!-- End Hero Section -->
<div class="btns text-center mt-3 text-muted">
    <a href="#"><i class="fa fa-facebook fa-2x "></i>facebook</a>
    <a href="#"><i class="fa fa-linkedin fa-2x"></i>linkedin</a>
    <a href="#"><i class="fa fa-whatsapp fa-2x"></i>Whatsapp</a>
</div>