<section id="hero">
    <!-- style="background:url(&quot;assets/images/slider/silde1.png&quot;);height: 75vh;direction: ltr !important;" -->
    <div class="t-first-section" data-aos="zoom-out" data-aos-delay="100">
        <div>
            <div class="row ">
                <div class="col-md-6 m-5">
                    <h1>
                        {{translate.currentLang=='ar'?firstContent[0]?.DescAr:
                        firstContent[0]?.DescEn}}
                    </h1>
                    <h2>
                        {{translate.currentLang=='ar'?firstContent[0]?.DetailAr:
                        firstContent[0]?.DetailEn}}
                    </h2>
                    <a class="btn btn-sm btn-success m-2" (click)="openModalTemplate('bookDemo','BOOKDEMO')"><i
                            class="fa fa-play-circle-o" aria-hidden="true"></i>
                        <h2>{{"BOOKDEMO"|translate}}</h2>

                    </a>

                    <a class="btn btn-sm btn-primary " (click)="openModalTemplate('liveView','LiveView')"> <i
                            class="fa fa-desktop" aria-hidden="true"></i>
                        <h2>{{"LIVEVIEW"|translate}}</h2>

                    </a>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Hero Section -->
<div class="btns text-center mt-3 text-muted p-2 " *ngIf="socialMediaContent.length>0">
    <div class="btns text-center mt-3 text-muted p-2 " *ngIf="socialMediaContent.length>0">
        <a [href]="socialMediaContent[0].FaceBookLink" target="_blank" class="mx-2"><i
                class="fa fa-facebook fa-2x"></i>FaceBook</a>
        <a [href]="socialMediaContent[0].TwitterLink" target="_blank" class="mx-2"><i
                class="fa fa-linkedin fa-2x"></i>LinkedIn</a>
        <a [href]="socialMediaContent[0].LinkedInLink" target="_blank" class="mx-2"><i
                class="fa fa-twitter fa-2x"></i>Twitter</a>
    </div>
</div>

<!-- Sof Modal area  23-7-2024-->
<ng-template #modalTemplate>
    <!-- ======================================website area======================================= -->

    <div *ngIf="targetComponent=='bookDemo'">
        <app-website-bookdemo></app-website-bookdemo>
    </div>
    <div *ngIf="targetComponent=='liveView'">
        <app-website-live-view></app-website-live-view>
    </div>
</ng-template>
<app-modal [content]="modalTemplate" [title]="componentTitle"></app-modal>
<!-- Eof Modal area  19-7-2024-->