<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4 card align-items-center align-content-center ">
        <a class="d-inline-flex btn-sm text-center mt-3" (click)="gotoIamTeacherWebsite()">
            <img src="/assets/images/shared/t-logo.PNG" alt="Avatar" class="avatar" alt="img">
        </a>
        <div class="card-body" >
            <div class="text-center" >
                <h2 class="mb-4" style="color: white !important;">{{"ADMINLOGIN" | translate}}
                    <i class="fa fa-user-o"></i>
                </h2>
            </div>
            <app-admin-forms formName="admin-login" iconClass="fa fa-user-o" title="ADMINLOGIN"
                [gridClass]="'col-sm-12 mb-3'" (formSubmit)="handleFormSubmit($event)"></app-admin-forms>
            <div class="m-1 text-center">
                <button class="btn btn-success" (click)="adminLogin()">
                    {{"ADMINLOGIN" | translate}}
                </button>
            </div>
        </div>
    </div>
</div>