.t-teacher-header {
    border: 1px solid #d0d0d0;
}

.notification-icon {
    position: relative;
    display: inline-block;
}

.notification-icon .fas.fa-bell {
    color: white;
    /* Bell icon color */
    font-size: 24px;
    /* Adjust as needed */
}

.notification-count {
    position: absolute;
    top: -18px;
    right: -10px;
    background-color: #ff1212;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: bold;
}

.t-teacher-sidnav {
    a {
        border: 1px solid rgb(183, 183, 183);
        margin: 5px;
        width: 290Px !important;
    }

    .t-close {
        width: 45px !important;
    }

    .t-lang {
        width: 110px !important;
    }

    .t-mode {
        width: 110px !important;
    }
}

.t-logout {

    span {
        color: white !important;
    }

}

.t-teacher-sidnav :hover {
    font-size: large;
}

.notification-icon {
    position: relative;
    display: inline-block;
}

.notification-icon .fas.fa-bell {
    color: white;
    /* Bell icon color */
    font-size: 24px;
    /* Adjust as needed */
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -3px;
    background-color: #ff1212;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: bold;
}

.navbar:hover {
    background-color: #769c85 !important;
    color: white !important;
    border-radius: 5px;
}

.t-header-icons {
    height: auto;

}