<header class="t-header fixed-top d-flex d-inline-flex
     align-items-center header-container justify-content-between t-responsive-header"
    [ngClass]="{'t-teacher-header': fromModule=='teacher'}">
    <!-- *ngIf="(userData?.UserType==1) &&userData.LoginStatus==1" -->

    <div class="d-inline-flex t-responsive-header">
        <a *ngIf="fromModule =='website'" class=" mt-2  mobileMode " (click)="onOpenSideNav()">
            <span class=" pe-1">
                <i class="fa fa-bars  mr-2 ml-2 t-menu-icon">
                </i> </span>

        </a>
        <a *ngIf="fromModule !='website'" class="mt-2" (click)="onOpenSideNav()">
            <span class=" pe-1">
                <i class="fa fa-bars  mr-2 ml-2 t-menu-icon">
                </i> </span>

        </a>
        <a class=" d-inline-flex btn-sm " (click)="gotoIamTeacherWebsite()">
            <h2 class="text-muted"><i class='fa fa-leanpub t-logo-icon'>I'M </i>
                <strong class="text-muted">Teacher</strong>

            </h2>

        </a>
        <div *ngIf="fromModule =='website'">
            <a *ngFor="let link of sidNavLinks"
                class=" navbar-expand-lg navbar-light bg-light desktopMode m-1 p-2 navbar "
                [routerLink]="[link.RoutePath]" routerLinkActive="active" aria-label="Read more about me"
                [routerLinkActiveOptions]="{exact:true}" (click)="onLinkClick(link)">
                <i class="sidenav-link-icon" [class]="link.ClassName">
                </i>
                <span>
                    {{translate.currentLang=='ar'?link.NameAr:link.NameEn}}
                </span>
            </a>
        </div>


        <!--Sof  Website Module  19-7-2024 Azmestics -->
        <!-- <a *ngIf="fromModule=='website'" class="btn btn-success d-inline-flex btn-sm   mx-1 "
            (click)="openModalTemplate('bookDemo','BOOKDEMO')">
            {{"BOOKDEMO"|translate}}

        </a>
        <a *ngIf="fromModule=='website'" class="btn btn-info d-inline-flex btn-sm   mx-1">

            {{"LiveView"|translate}}

        </a> -->
        <!--Eof  Website Module  19-7-2024 Azmestics -->
        <!--Sof  teacher-protofilio Module  19-7-2024 Azmestics User Data Area-->
        <!-- <a *ngIf="fromModule=='teacher-protofilio'" class="btn btn-success d-inline-flex btn-sm   mx-1"
            (click)="openModalTemplate('bookWithTeacher','BOOKWITHTEACHER')">
            {{"BOOK With"|translate}}
        </a> -->

        <a *ngIf="fromModule=='teacher-protofilio'" class=" mx-1 border border desktopMode p-2"
            aria-label="Read more about me">
            <img src="/assets/images/avatar.png" alt="Avatar" class="avatar" alt="img">
            <strong> {{translate.currentLang=='ar'?' Mr / Mohamed Ahmed':' Mr / Mohamed
                Ahmed'}}</strong>
            <i class="fa fa-calendar  " (click)="openModalTemplate('teacherAppointment','TEACHERAPPOINTMENT')"></i>
            <div class="notification-icon mr-2">
                <i class="fa fa-bell-o  " (click)="openModalTemplate('teacherNotification','TEACHERNOTIFICATION')">
                    <span class="notification-count">5</span>

                </i>
            </div>

            <i class="fa fa-comments-o  " (click)="openModalTemplate('sendMessageToTeacher','SENDMESSAGE')"></i>


        </a>

        <!--eof  teacher-protofilio Module  19-7-2024 Azmestics -->
        <!-- sof Module Teacher  -->
        <a *ngIf="fromModule=='teacher'" class="btn btn-success d-inline-flex btn-sm   mx-1 "
            (click)="openModalTemplate('teacherAddStudent','ADDSTUDENT')">
            {{"Add Student"|translate}}
        </a>
        <a *ngIf="fromModule=='teacher'" class="btn btn-info d-inline-flex btn-sm   mx-1 "
            (click)="openModalTemplate('teacherAddStudent','ADDSTUDENT')">
            {{"Create Account"|translate}}
        </a>
        <a *ngIf="fromModule=='teacher'" class="btn  d-inline-flex  mx-1  border btn-danger "
            aria-label="Read more about me">
            <img src="/assets/images/avatar.png" alt="Avatar" class="avatar" alt="img">
            Mr / {{translate.currentLang=='ar'?' Mohamed Basuony':'Mohamed Basuony'}}
            <div class="notification-icon mr-2">
                <i class="fa fa-bell-o" (click)="openModalTemplate('teacherNotification','TEACHERNOTIFICATION')">
                    <span class="notification-count">5</span>

                </i>
            </div>
            <div class="notification-icon mr-2">
                <i class="fa fa fa-calendar" (click)="openModalTemplate('teacherAppointment','TEACHERAPPOINTMENT')">
                </i>
            </div>
            <div class="notification-icon mr-2">
                <i class="fa fa-clock-o" (click)="openModalTemplate('classeSchduling','CLASSSSCHDULING')">
                </i>
            </div>
            <div class="notification-icon mr-2">
                <i class="fa fa-commenting-o" (click)="openModalTemplate('teacherMessages','MESSAGES')">
                    <span class="notification-count">5</span>

                </i>
            </div>

            <div class="notification-icon mr-2">
                <i class="fa fa-refresh" (click)="refreshTeacherApp()">

                </i>
            </div>
        </a>
        <a *ngIf="fromModule=='teacher'" class="btn btn-primary d-inline-flex btn-sm   mx-1 "
            (click)="openModalTemplate('sendMessageToGuardianOrStudent','SENDMESSAGE')">
            {{"Send Message"|translate}}
        </a>
        <!-- Eof Module Teacher  -->

    </div>
    <div class="d-inline-flex t-responsive-header">
        <a *ngIf="fromModule=='website'" class=" d-inline-flex btn-sm   m-3 border mobileMode"
            (click)="teacherSignup()">

            <span>
                {{"SignUp"|translate}}
                <i class="fa fa-user-plus">
                </i>
            </span>

        </a>
        <!-- lang -->
        <a class="  mt-3 desktopMode" (click)="toggleLanguage()">
            <span class=" pe-3">
                <i class="fa fa-language t-lang-icon"></i>
            </span>


        </a>
        <a class=" mt-3 desktopMode" (click)="switchTheme()">
            <span class=" pe-1">
                <i class="fa fa-moon-o t-mode-icon ">
                </i> </span>


        </a>

        <a *ngIf="fromModule=='teacher-protofilio'" class="d-inline-flex btn-sm  border mx-1  "
            (click)="teacherProtofilioLogin(1)">
            <span>
                {{"LOGIN"|translate}} </span>
            <i class="fa fa-sign-in">
            </i>

        </a>
        <a *ngIf="fromModule=='teacher'" class="btn btn-dark d-inline-flex btn-sm   mx-1 "
            (click)="logoutFromIamTeacher()">

            <span>
                {{"LogOut"|translate}} <i class="fa fa-sign-out">
                </i>

            </span>
        </a>
    </div>
</header>
<!-- End Header -->

<!-- Sof Side Nav Section -->
<section [class]="sideNavClass">
    <div [ngClass]="{'t-teacher-sidnav': fromModule=='teacher'}">
        <div class="d-inline-flex btn-sm">
            <a class=" d-inline-flex btn-sm   mx-1 " (click)="onCloseSidenav()">
                <span class=" pe-1">
                    <i class="fa fa-close  mr-2 ml-2 t-menu-icon">
                    </i> </span>
            </a>
            <a class="  border mobileMode" (click)="toggleLanguage()">
                <span class=" pe-1">
                    <i class="fa fa-language t-lang-icon"></i>
                </span>
                <span>
                    {{"LANG"|translate}} </span>

            </a>
            <a class="  border mobileMode" (click)="switchTheme()">
                <span class=" pe-1">
                    <i class="fa fa-moon-o t-mode-icon">
                    </i> </span>
                <span>
                    {{"MODE"|translate}} </span>

            </a>
        </div>
        <!-- user data -->
        <div class="mobileMode">
            <a *ngIf="fromModule=='teacher-protofilio'" class=" mx-1 border" aria-label="Read more about me">
                <img src="/assets/images/avatar.png" alt="Avatar" class="avatar" alt="img">
                <span> {{translate.currentLang=='ar'?' Mr / Mohamed Ahmed':' Mr / Mohamed
                    Ahmed'}}</span>
                <i class="fa fa-calendar  " (click)="openModalTemplate('teacherAppointment','TEACHERAPPOINTMENT')"></i>
                <div class="notification-icon mr-2">
                    <i class="fa fa-bell-o  " (click)="openModalTemplate('teacherNotification','TEACHERNOTIFICATION')">
                        <span class="notification-count">5</span>

                    </i>
                </div>
                <i class="fa fa-comments-o  " (click)="openModalTemplate('sendMessageToTeacher','SENDMESSAGE')"></i>
            </a>

        </div>
        <div *ngFor="let link of sidNavLinks">
            <a class="sidenav-nav-link applyDarkMode" [routerLink]="[link.RoutePath]" routerLinkActive="active"
                aria-label="Read more about me" [routerLinkActiveOptions]="{exact:true}" (click)="onLinkClick(link)">
                <i class="sidenav-link-icon" [class]="link.ClassName">
                </i>
                <span class="sidenav-link-text">
                    {{translate.currentLang=='ar'?link.NameAr:link.NameEn}}
                </span>
            </a>
        </div>
    </div>
</section>

<!-- <Eof Side Na Section> -->



<!-- Sof Modal area  19-7-2024-->
<ng-template #modalTemplate>

    <!-- ======================================teacher-protofilio area============================= -->
    <div *ngIf="targetComponent=='bookWithTeacher'">
        <app-teacher-protofilio-bookwith></app-teacher-protofilio-bookwith>
    </div>
    <div *ngIf="targetComponent=='teacherAppointment'">
        <app-teacher-protofilio-appointment></app-teacher-protofilio-appointment>
    </div>
    <div *ngIf="targetComponent=='sendMessageToTeacher'">.
        <app-teacher-protofilio-send-message></app-teacher-protofilio-send-message>
    </div>
    <!-- =========================teacher area===================================================== -->
    <div *ngIf="targetComponent=='teacherNotification'">
        <app-teacher-notification></app-teacher-notification>
    </div>
    <div *ngIf="targetComponent=='classeSchduling'">
        <app-teacher-class-schduling></app-teacher-class-schduling>
    </div>

    <div *ngIf="targetComponent=='teacherAddStudent'">.
        <app-teacher-add-student></app-teacher-add-student>
    </div>
    <div *ngIf="targetComponent=='sendMessageToGuardianOrStudent'">
        <app-teacher-send-message></app-teacher-send-message>
    </div>
    <div *ngIf="targetComponent=='teacherMessages'">
        <app-teacher-recieved-messages></app-teacher-recieved-messages>
    </div>
</ng-template>
<app-modal [content]="modalTemplate" [title]="componentTitle"></app-modal>
<!-- Eof Modal area  19-7-2024-->